<?xml version = "1.0" encoding = "utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>

        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>

<!--        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/test2</property>-->
<!--        <property name="hibernate.connection.username">root</property>-->
<!--        <property name="hibernate.connection.password">Anhchang01</property>-->

        <property name="hibernate.connection.pool_size">5</property>

        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.current_session_context_class">
            org.hibernate.context.internal.ThreadLocalSessionContext
        </property>
        <property name="hibernate.connection.autocommit">false</property>
        <!--        Method to auto generate database-->

        <property name="hbm2ddl.auto">create-drop</property>
        <property name="format_sql">true</property>

        <!--        Entity Mapping-->
        <mapping class="com.ledungcobra.entites.TeachingManager"/>
        <mapping class="com.ledungcobra.entites.Class"/>
        <mapping class="com.ledungcobra.entites.Semester"/>
        <mapping class="com.ledungcobra.entites.StudentInfo"/>
        <mapping class="com.ledungcobra.entites.EducationType"/>
        <mapping class="com.ledungcobra.entites.StudentAccount"/>
        <mapping class="com.ledungcobra.entites.Subject"/>
        <mapping class="com.ledungcobra.entites.Course"/>
        <mapping class="com.ledungcobra.entites.CourseInfo"/>
        <mapping class="com.ledungcobra.entites.StudentCourse"/>
        <mapping class="com.ledungcobra.entites.CourseRegistrationSession"/>

    </session-factory>
</hibernate-configuration>